/deep/ .mat-form-field-label {
    color: #90d600;
}

.form {
    text-align: center;
    background: #fff;
    padding: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
}

.padd {
    padding: 5px;
}

.example-margin {
    margin: 0 10px;
}

/deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #a2a2a2;
}